 .topbar-wrapper {
    text-align: center;
    width: 100%;
    //background: $color-body;
  
    .top-title {
      font-size: 14px;
      padding: 14px 0px;
      color: #3a3737;
      font-weight: 100;
      letter-spacing: 2.6px;
      line-height: 15px;
      
    }
  }