<div class="gallery-wrapper">
  <div class="gallery-sec">
  	<div class="imgsec firstimg-margin leftimg">
     <img src="{{ section.settings.gallery-img1 | img_url:'large' }}" alt="{{section.settings.collection-img1}}">
    <div class="textsec ">
       <h1>Plus Sizes</h1>
       <p>Sed ut perspiciatis unde omnis iste natus errors sit</p>
       <button class="shop-btn">SHOP NOW<i class="arrow right"></i></button>
     </div>
    
  </div>
   <div class="imgsec rightimg">
      <img src="{{ section.settings.gallery-img2 | img_url:'large' }}" alt="{{section.settings.collection-img2}}">
    <div class="textsec">
      <h1>On Sale</h1>
        <p>Sed ut perspiciatis unde omnis iste natus errors sit</p>
        <button class="shop-btn">SHOP NOW<i class="arrow right"></i></button>
     </div>
  </div>
  </div>
</div>
{% schema %}
  {
    "name": "Gallery Section",
    "settings": [
      {
		"id":"gallery-img1",
		"label":"Gallery-img1",
		"type":"image_picker"
      },
		{
		"id":"gallery-img2",
		"label":"Gallery-img2",
		"type":"image_picker"
      }
  ],
  "presets": [
  {
    "category": "Gallery",
    "name": "Gallery"
  }
] 

  }
{% endschema %}