<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>House of Rare</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/slick.css" />
    <link rel="stylesheet" type="text/css" href="css/slick-theme.css" />
   
  </head>
  <body>
      <div class="section-wrapper">
          <div class="img-wrapper">
              <div class="slider slider-for">
              </div>
              <div class="slider slider-nav">
              </div>
          </div>
          <div class="content-wrapper">
            <h1 id="id"></h1>
            <h1 class="heading" id="heading"></h1>
            <p id="price"></p>
            <p id="sku"></p>
            <p id="desc"></p>

            Color:<p id="color"></p>
            <!-- <p><input type="radio" id="allcolor" value="allcolor"></p> -->

            Size:<p id="allsize"></p>
              <!-- <p><input type="radio" id="size" value="allsize"></p> -->

            <p>Quantity</p>
            <input type="number" id="Quantity" name="quantity" value="1" min="1" class="js-quantity-selector">

            <p><input type="submit" value="Add to cart" class="addtocart"></p>
            <p><input type="button" value="Buy it now" class="buynow"></p>
            
          </div>
      </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script src="js/getdata.js"></script>
  
</html>