<style>
  /* .topbar-wrapper
  {
     /* background:{{section.settings.top_color}}; 
  } */
  
</style>
<div class="topbar-wrapper">
  <p class="top-title">{{section.settings.top-title}}</p>
</div> 
{% schema %}
  {
  	"name":"Topbar",
  	"settings":[
  	{
  		"id":"top_color",
  		"type":"color",
  		"label":"Topbar_background",
  		"default":"#ffffff"
  	},
  	{
  		"id":"top-title",
  		"type":"text",
  		"label":"Topbar_title",
  		"default":"FREE SHIPPING ON NEW ARRIVALS"
  	}
  ],
  "presets": [
      {
        "category": "Topbar",
        "name": "text"
      }
    ]
  }
{% endschema %}
  
