<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All</title>
</head>

<body id="body">
   {% section 'slideshow1' %}
  
  
  
    <div class="space">
        <h3>1 Write a JavaScript program to check two given numbers and return true if one of the
            number is 50 or if their sum or difference is 50.</h3>
      <label><b>Enter Value 1 :-</b></label>
        <input type="number" placeholder="				number 1" id="textone" /><br><br>
      <label id="lbl"><b>Enter Value 2 :-</b></label>
        <input type="number" placeholder="				number 2" id="textTWO" /><br>
        <button class="btn" id="sub">Submit</button> <br />
        <span id="bluee">Result :</span>
        <span id="spanResult"></span>
        <br>
        <br>
    </div>
    <div class="space">
        <h3>2 Remove duplicate elements from Array</h3>
      <label><b>Insert Data:-</b></label>
        <input type="text" id="inp2" placeholder="		Enter number with , separate" name="pr2"><br><br>
        <button class="btn" id="sub2">Submit</button><br>
        <span id="bluee">Result :</span>
        <span id="spanResult2"></span>
        <br>
        <br>
    </div>
    <div class="space">
        <h3>3 Write a JavaScript program to find 1st January is being a Sunday between 2014 and
            2050.</h3>
        <input type="number" id="inp31" placeholder="				Starting year" name="pr3">&nbsp&nbsp&nbsp  TO  &nbsp&nbsp&nbsp 
        <input type="number" id="inp32" placeholder="				Ending year" name="pr3"><br><br>
      <button class="btn" id="sub3" style="margin-left:18%;">Submit</button><br>
        <span id="bluee">Result :</span>
        <span id="spanResult3"></span>

        <br>
        <br>
    </div>

    <div class="space">
        <h3>4 Write a JavaScript program to calculate days left until next Christmas.</h3>
        <input type="submit" class="btn" value="Click here" id="sub4"><br>
        <span id="bluee">Result :</span>
        <span id="spanResult4">click this button to check days left</span>


        <br>
        <br>
    </div>

  
  <div class="space">
    <h3>5 Write a javascript program to find total appearance of number N Number from 0...N</h3>
    <label><b>Enter from 1 to how much number :-</b></label>
  <input type="number" id="inp5" placeholder="			1 to how much number   " name="pr5"><br><br>
    &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp   &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp <b>Number :-</b> &nbsp &nbsp &nbsp &nbsp
    <input type="number" id="inp51" placeholder="		Enter number you Want to Check " name="pr5"><br><br>
    <button class="btn" style="margin-left:18%;" id="sub5">Submit</button><br>
    <span id="bluee">Result :</span>
    <span id="spanResult5"></span>
  
  
  </div>
  
    <div class="space">
        <h3>6 Write a sorting algorithm without using any native javascript function such as sort().</h3>

        <label><b>Enter array :-</b>&nbsp &nbsp   &nbsp &nbsp &nbsp</label>
        <input type="text" id="inp6"   placeholder="		Enter number with , separate" name="pr6"><br><br>
        <button class="btn"  id="sub6">Submit</button><br>
        <span id="bluee">result : </span>
        <span id="spanResult6"></span>

        <br>
        <br>
    </div>

    <div class="space">

        <h3>7 Create an array B which contains sum of index from Array A. If the last index of A does not have any other
            pair to some with then double the number.
        </h3>
        <label><b>Enter array :-</b>&nbsp &nbsp   &nbsp &nbsp &nbsp</label>
        <input type="text" id="inp7"  placeholder="		Enter number with , separate" name="pr7"><br><br>

        <button class="btn"  id="sub7">Submit</button><br>
        <span id="bluee">Result :</span>
        <span id="spanResult7"></span>



        <br>
        <br>
    </div>

    <div class="space">
        <h3>8 Write a JavaScript program to create an array of prefix sums of the given array.</h3>
      <label><b>Enter array :-</b>&nbsp &nbsp   &nbsp &nbsp &nbsp</label>
        <input type="text"  placeholder="		Enter number with , separate" id="inp8" name="pr8"><br><br>

        <button class="btn" id="sub8">Submit</button><br>
        <span id="bluee">Result :</span>
        <span id="spanResult8"></span>

        <br>
        <br>
    </div>

    <div class="space">

        <h3>9 Write a JavaScript program to replace the first digit in a string (should contains at least digit) with $
            character.</h3>
      <label><b>Insert Data :-</b>&nbsp &nbsp &nbsp</label>
        <input type="text" id="inp9" placeholder="		Enter string with contain number" name="pr9"><br><br>

        <button class="btn"  id="sub9">Submit</button><br>
        <span id="bluee"n>Result :</span>
        <span id="spanResult9"></span>
        <br>
        <br>
        <br>
        <br>
    </div>
  
    <div class="space">
      <h3>10. Object in Object.....</h3>
      <label><b>Name:-</b> &nbsp &nbsp &nbsp</label>
    <input type="text" id="inp10"  placeholder="		Enter name shivam or prakash " name="pr10"><br><br>
    <button class="btn" id="sub10">Submit</button><br>
      <span id="bluee"n>Result :</span>
    <span id="spanResult10"></span>
  
  </div>
<!--     <div class="space">
        <h3>11. On Button Click Change background Color..</h3>
     
        <button class="btn"  id="sub11">Submit</button><br>
        

        <br>
        <br>
    </div> -->
  
<!-- 	  <div class="space">-

    <div class="parent">
        <h3>11. Create a digital calculator using Javascript and HTML and CSS.</h3>
        <div class="main1">
            <form name="calculator" class="form">
                <table>
                    <tr>
                        <td colspan="5">
                            <input type="text" name="display" class="textview" id="display">
                        </td>
                    </tr>
                    <tr>
                        <td><input type="button" id="clear" class="button symbol1 blue" name="clear" value="AC"
                                onclick="cleard()"></td>
                        <td><input type="button" id="ac" class="button symbol1 blue" name="clear" value="+/-"
                                onclick="d('1')"></td>
                        <td><input type="button" id="modulo" class="button symbol1 blue" name="modulo" value="%"
                                onclick="d('%')"></td>
                        <td><input type="button" class="operator button symbol blue" name="div" value="รท"
                                onclick="d('/')"></td>



                    </tr>
                    <tr>

                        <td><input type="button" name="seven" value="7" class="button number gray" onclick="d('7')">
                        </td>
                        <td><input type="button" name="eight" value="8" class="button number gray" onclick="d('8')">
                        </td>
                        <td><input type="button" name="nine" value="9" class="button number gray" onclick="d('9')"></td>
                        <td><input type="button" class="operator button symbol blue" class="button number gray"
                                name="times" value="X" onclick="d('*')"></td>

                    </tr>
                    <tr>
                        <td><input type="button" name="four" value="4" class="button number gray" onclick="d('4')"></td>
                        <td><input type="button" name="five" value="5" class="button number gray" onclick="d('5')"></td>
                        <td><input type="button" name="six" value="6" class="button number gray" onclick="d('6')"></td>
                        <td><input type="button" class="operator button symbol blue" name="minus" value="-"
                                onclick="d('-')"></td>


                    </tr>
                    <tr>
                        <td><input type="button" name="one" value="1" class="button number gray" onclick="d('1')"></td>

                        <td><input type="button" name="two" value="2" class="button number gray" onclick="d('2')"></td>
                        <td><input type="button" name="three" value="3" class="button number gray" onclick="d('3')">
                        </td>
                        <td><input type="button" class="operator button symbol blue" name="plus" value="+"
                                onclick="d('+')"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="button" name="zero" value="0" id="wth" class="button number gray"
                                onclick="d('0')"></td>
                        <td><input type="button" name="dot" value="." class="button number gray" onclick="d('.')"></td>
                        <td id="equal" rowspan="4"><input type="button" class="button symbol blue" name="doit" value="="
                                onclick="solve()"></td>

                    </tr>
                </table>
            </form>
        </div>
        </div>
    </div> -->
  

  
    <script>
        function d(val) {
            document.getElementById('display').value += val;
        }
        function solve() {
            var value1 = document.getElementById('display').value;
            let res = eval(value1);
            document.getElementById('display').value = res;
        }
        function cleard() {
            document.getElementById('display').value = "";
        }
      
      
     
 

      
      
      
      
      
    </script>
</body>

</html>